.header {
  display: flex;
  background-color: Gainsboro;
  justify-content: space-between;
}
.list {
  display: flex;
  list-style-type: none;
}
li {
  padding: 0 20px;
}
.welcome,
h2,
.button {
  text-align: center;
}
.box {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.content {
  text-align: center;
  vertical-align: top;
  width: 45%;
  background-color: SlateGrey;
  margin: 10px 10px;
  padding-bottom: 40px;
  max-width: 595px;
}
.welcome {
  background-color: AliceBlue;
  padding: 30px;
}
button {
  margin-top: 80px;
  padding: 20px;
  border: none;
  background-color: AliceBlue;
}
