* {
  text-align: center;
}
h2 {
  background-color: lightgrey;
  padding-top: 20px;
  padding-bottom: 20px;
}

div {
  background-color: lightblue;
}

#mydiv {
  display: flex;
  justify-content: center;
}
h3 {
  color: sienna;
}
